@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif;
}

li {
  line-height: 1.7;
}

#post-list {
  margin-top: 40px;
}

#post-meta > div > span:nth-child(2) {
  width: 200px;
}

@media screen and (max-width: 540px) {
  #post-meta > img {
    margin-top: 0 !important;
  }
  #post-meta {
    padding: 20px;
  }
  #post-meta > div > span:nth-child(2) {
    float: none;
    width: 100%;
  }
  #post-meta > div {
    float: none;
    width: 100%;
  }
  #sharing {
    float: none;
    width: 100%;
    text-align: right;
    margin-top: 20px;
  }
}
